@import "variable.scss";

.contact-info{
    .contact-info-row{
        border-radius: 20px;
        padding: 25px 10px;
        background-color: #fff;
        position: relative;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

        .contact-info-left{
            padding: 30px;
            background-color: $colorGray;
            border-radius: 20px;
            .cil-list{
                li{
                    color: #fff;
                    padding: 20px 0px;
                    p{
                        font-size: 18px;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                    a{
                        color: #fff;
                        display: flex;
                        align-items: center;

                        svg{
                            font-size: 24px;
                            margin-right: 10px;
                            display: block;
                        }
                    }
                }
            }
        }
        .contact-info-right{
            padding-top: 10px ;
            .form-btn{
                text-align: right;
            }
        }
    }
}

// --media--
@media (max-width: 1400px) { }
@media (max-width: 1200px) { }
@media (max-width: 992px) { 
    .contact-info{
       
        .contact-info-row{
            margin: 0px 5px;
            .contact-info-left{
                margin-bottom: 20px;
                .cil-list{
                    text-align: center;

                    li{
                        a{
                            justify-content: center;
                        }
                    }
                }
            }
            .contact-info-right{
                .title-lg{
                    text-align: center;
                }
                .form-btn{
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 768px) { }
@media (max-width: 576px) { 
    .contact-info{
        .contact-info-row{
           padding: 15px 0px 15px 0px;
           .contact-info-left{
               padding: 15px;
               .cil-list{
                   li{
                       padding: 15px 0px;
                       p{
                           font-size: 16px;
                           margin-bottom: 5px;
                       }
                       a{
                           font-size: 14px;

                           svg{
                               font-size: 20px;
                           }
                       }
                   }
               }
           }
        }
    }
}
@media (max-width: 468px) { }
@media (max-width: 375px) { }
@media (max-width: 320px) { }
