@import "variable.scss";

// --banner--
.banner{
    .banner-left{
        .banner-form{
            form{
                .dropdown{
                    padding: 0px 20px;
                    .dropdown-toggle{
                        vertical-align: middle;
                        &::before{
                            right: -18px;
                            top: -3px;
                        }
                        svg{
                            color: $coloRed;
                            margin-right: 5px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
// --------------------


// --media--
@media (max-width: 1400px) { }
@media (max-width: 1200px) { }
@media (max-width: 992px) { }
@media (max-width: 768px) { 
    .banner{
        .gig-banner-img{
           text-align: center;
        }
        .banner-left{
            .banner-form{
                form{
                    .form-input{
                        margin: 15px 0px;
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) { }
@media (max-width: 468px) { }
@media (max-width: 375px) { }
@media (max-width: 320px) { }